*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    animation: scrolling 5s linear infinite;
    animation-play-state: paused;
}
@keyframes scrolling { from { background-position: 0 0; } to { background-position: -500px -500px;} }
#vis
{
    position: absolute;
    top: 0;
    left: 0;
}
#meta
{
    position: relative;
    top: 20%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Source Code Pro', monospace;
    z-index: 10;
    transform: translate(0,200px);
    background-color: rgba(150,150,150,.3)
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus { background-color: #2980B9; }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin: 0 auto;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
}
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }
.dropdown-content p:hover {background-color: #ddd;}
.show {display:block;}
button
{
    display: inline-block;
    width: 210px;
    height: 25px;
}
#canvas { position: absolute; }
#inputtable
{
    margin: auto;
    width: 210px;
    transform: translate(0,225px)
}
td { width: 210px; height: 25px; }